body {

    --performance: #A7C7E7;
    --bright-red: #FF3C3C;
    --dark-red: #5a140b;

    --ebony: #1c1e2b;
    --nile: #1c2a46;
    --juan: #4f708c;
    --steel: #7ba4c6;
    --glacier: #c5e0e7;
    --royal: #3755eb;
    --cornflower: #4d83ef;
    --malibu: #76bbf4;
    --sail: #a8d5fa;
    --foam: #d8f6fd;

    --text: var(--foam);
    --background: var(--nile);
    --primary: var(--royal);
    --secondary: var(--performance);
    --accent: var(--dark-red);

}