/* /Components/Newsletters/EventRenderer.razor.rz.scp.css */
.event[b-rugb4g44g7]{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 24px;

    padding: 20px;
    width: 100%;
}

.title[b-rugb4g44g7] {
    font-size: x-large;
}

.highlights[b-rugb4g44g7] {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.highlights .left[b-rugb4g44g7] {
    max-width: 40vw;
    min-width: 350px;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.highlight[b-rugb4g44g7] {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.highlight .label[b-rugb4g44g7] {
    margin-right: auto;
    font-weight: bold;
}

.highlight .value[b-rugb4g44g7] {
    text-align: right;
}

.value.cost[b-rugb4g44g7] {
    color: lightgreen;
    font-weight: bold;
}

.highlights .right[b-rugb4g44g7] {
    margin-left: auto;
}

.main-event-image[b-rugb4g44g7] {
    max-height: 20vw;
}

.links[b-rugb4g44g7] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* /Components/Newsletters/NewsletterBase.razor.rz.scp.css */
.newsletter[b-mn56674cav]{
    width: 85vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.logo-and-date[b-mn56674cav] {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.banner-logo[b-mn56674cav] {
    width: 25vw;
}

.date[b-mn56674cav] {
    font-size: large;
}

.section-title[b-mn56674cav] {
    font-size: xx-large;
    text-align: center;
}

.winning-photo-frame[b-mn56674cav] {
    width: 70vw;
    padding: 3vw;
    background-color: var(--secondary);
}

.winning-photo[b-mn56674cav] {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-item[b-mn56674cav] {
    margin: 20px 0;
}
/* /Components/Newsletters/NewsletterTile.razor.rz.scp.css */
.container[b-uhna4ycmst] {
    position: relative;

    width: fit-content;
    height: fit-content;

    padding: 10px;
    border: 3px solid transparent;
    border-radius: 5px;
    margin: 10px;

    background-color: var(--secondary);

    cursor: pointer;
    transition: .3s;
}

.container:hover[b-uhna4ycmst] {
    border-color: var(--accent);
    scale: 1.05;
}

.container:hover .title[b-uhna4ycmst] {
    color: var(--secondary);
}

.preview-image[b-uhna4ycmst] {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;

    transition: .3s;
}

.title[b-uhna4ycmst] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    white-space: nowrap;
    color: rgba(255, 255, 255, 0.749);
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);

    transition: .3s;
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-e4fee3itis] {
    position: relative;
    display: flex;
    flex-direction: column;

    background-color: var(--background);
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    color: var(--text);
}

main[b-e4fee3itis] {
    flex: 1;
}

.topbar[b-e4fee3itis] {
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: var(--ebony);
    padding: 20px;
}
/* /Pages/Newsletter.razor.rz.scp.css */
.newsletter-container[b-gy7ih3f4su] {
    width: 100%;
    height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.newsletter-container.preview[b-gy7ih3f4su] {
    width: fit-content;
    height: fit-content;
    padding: 0;
}
/* /Pages/NewslettersList.razor.rz.scp.css */
.list[b-rvewmzkq0l] {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
